# Core Machine Learning
torch
torchvision
ultralytics
transformers
einops

# Image Processing
pillow>=10.1
opencv-python-headless
numpy

# Translation & OCR
googletrans==4.0.0-rc1
timm

# Archive Handling
patool
pyside6>=6.7
